.loading {
    position: relative;
    width:  200px;
    height: 200px;
    margin: auto;
    margin-top: 200px;
}

.footprint {
    position: absolute;
    left: 23px;
    top: 23px;

    width: 30px;
    height: 30px;

    -webkit-transform-origin: 75px 75px; /* Chrome, Safari, Opera */
        -ms-transform-origin: 75px 75px; /* IE 9 */
            transform-origin: 75px 75px;

    opacity: 0;
    animation: walk 6s infinite;
}
.footprint:nth-child(even) { margin-top:  5px; }
.footprint img { max-height: 30px; max-width: 30px; }

.pad_1  { animation-delay: 0.5s; transform: rotate(0deg);   }
.pad_2  { animation-delay: 1.0s; transform: rotate(30deg);  }
.pad_3  { animation-delay: 1.5s; transform: rotate(60deg);  }
.pad_4  { animation-delay: 2.0s; transform: rotate(90deg);  }
.pad_5  { animation-delay: 2.5s; transform: rotate(120deg); }
.pad_6  { animation-delay: 3.0s; transform: rotate(150deg); }
.pad_7  { animation-delay: 3.5s; transform: rotate(180deg); }
.pad_8  { animation-delay: 4.0s; transform: rotate(210deg); }
.pad_9  { animation-delay: 4.5s; transform: rotate(240deg); }
.pad_10 { animation-delay: 5.0s; transform: rotate(270deg); }
.pad_11 { animation-delay: 5.5s; transform: rotate(300deg); }
.pad_12 { animation-delay: 6.0s; transform: rotate(330deg); }

@keyframes walk {
    0%   { opacity: 1 }
    40%  { opacity: 0 }
    100% { opacity: 0 }
}
